body {
  background-color: black;
}

i {
  padding-left: 10px;
}

.image-leftside {
  width: 200px;
  height: 300px;
}

.grid-container-title {
  padding-top: 35px;
  color: white;
  width: auto;
  flex-wrap: wrap;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.dog-image {
  width: calc(100% - 90%);
}

@media (max-width: 700px) {
  .dog-image {
    width: 100px;
  }

  .grid-container-title {
    height: 250px;
  }
}

.title-header {
  text-align: center;
}

.grid-container-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
  width: 100%;
  height: auto;
}

.container-item {
  padding: 10px;
  width: 600px;
}

.container-item-main {
  padding: 20px;
  width: calc(100% - 10%);
}

.ballon {
  height: 60px;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

.top-icons {
  width: 100px;
  display: inline-grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin-bottom: 20px;
}

@media (max-width) {
}

.top {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 35px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

.top-text {
  padding-top: 15px;
  color: white;
  font-size: 10px;
}
